<div class="sc-fieldset sc-m-h-lg">
  <div class="sc-fieldset-head sc-bg-white">
    <div class="flex-row">
      <div class="sc-text-blue sc-text-bold sc-m-t-xs">
        Objetos
      </div>
      <div class="sc-m-h-md sc-m-t-xs">
        <i class="sc-icon sc-icon-duvida-2 sc-text-blue"></i>
      </div>
      <div class="sc-btn sc-btn-green sc-btn-thin sc-m-l-lg" style="font-size: smaller;">
        Adicionar
      </div>
      <div ng-if="" class="sc-btn sc-btn-red sc-btn-thin sc-m-l-lg" style="font-size: smaller;">
        Limpar formulário
      </div>
    </div>
  </div>

  <!-- Selecionar Categoria -->
  <div class="sc-fieldset sc-m-h-lg sc-bg-white">
    <div class="sc-fieldset-head">
      <div class="flex-row sc-p-l-o sc-p-t-o">
        <div class="fcol-xs-20em sc-m-r-md sc-m-r-xxxl" style="font-size: smaller;">
          <div class="sc-text-blue sc-text-bold">
            Categoria:
          </div>
          <div class="sc-input-group">
            <select class="sc-input-default">
              <option label="Selecione" class-selected="selected"></option>
            </select>
            <button class="sc-btn">
              <i class="sc-icon sc-icon-reticiencias-v"></i>
            </button>
          </div>
        </div>

        <!-- Botão Adicionar Item -->
        <div class="sc-m-r-xxxl sc-m-t-xl">
          <div class="sc-btn sc-btn-green sc-btn-thin" style="font-size: smaller;">
            <i class="sc-icon sc-icon-mais-1"></i>
            Item
          </div>
        </div>
        <i class="sc-badge-hover-red sc-icon-lixeira-1 sc-m-t-xl sc-text-sm"></i>
      </div>
    </div>

    <!-- Descrição e Qtd do item -->
    <div class="flex-row sc-bg-gray-lighter">
      <div class="fcol-xs-60 sc-m-r-lg">
        <div class="sc-text-blue sc-text-bold">
          Item
        </div>
        <div class="sc-input-group">
          <input class="sc-input-default" placeholder="Descreva o item aqui">
        </div>
      </div>
      <div class="fcol-xs-10">
        <div class="sc-text-blue sc-text-bold">
          Qtd
        </div>
        <div class="sc-input-group">
          <input class="sc-input-default">
        </div>
      </div>
      <div class="fcol-xs-auto"></div>
      <i class="sc-badge-hover-red sc-icon-lixeira-1 sc-m-t-xxxl"></i>
    </div>
  </div>
</div>
