<!-- Show Informações da passagem -->
<div class="sc-bg-gray-lighter">
  <div class="flex-row">
    <div class="sc-fieldset fcol-xs-45 sc-m-lg sc-bg-white">
      <div class="sc-text-gray sc-p-b-xs">
        Quem sai:
        <span class="sc-text-blue">
          {{passagem.pessoaSaiu}}
        </span>
      </div>
      <div class="sc-text-gray sc-p-v-xs">
        Cadastrado por:
        <span class="sc-text-blue">
          -
        </span>
      </div>
      <div class="sc-text-gray sc-p-v-xs">
        Data cadastro:
        <span class="sc-text-blue">
          {{passagem.criacao | date:"dd/MM/yyyy"}}
        </span>
      </div>
      <div class="sc-p-v-xs">
        <button  type="button" class="sc-btn sc-btn-thin sc-btn-blue">
          Notificar
          <i class="sc-icon sc-icon-seta-5-baixo"></i>
        </button>
      </div>
      <div class="sc-p-v-xs sc-m-b-lg">
        <button  type="button" class="sc-btn sc-btn-thin">
          Notificações
          <i class="sc-icon sc-icon-seta-5-baixo"></i>
        </button>
      </div>
    </div>

    <!-- Anexos -->
    <div class="sc-fieldset fcol-xs-auto sc-m-lg sc-bg-white">
      <div class="sc-fieldset-head">
        <span class="sc-text-blue sc-text-bold">
          Anexos
        </span>
      </div>
      <div class="align-center sc-text-blue sc-text-lg-md sc-m-t-lg">
        Nenhum anexo disponível!
      </div>
    </div>
  </div>

  <!-- Relatório da Passagem + Objetos -->
  <div class="sc-fieldset sc-bg-white sc-m-h-lg sc-m-t-lg sc-m-b-xxxl">
    <div class="sc-text-gray-dark">
      Eu,
      <span class="sc-text-blue sc-text-bold">
        {{passagem.pessoaSaiu}}
      </span>
      passo o posto de serviço para o(a),
      <span class="sc-text-blue sc-text-bold">
        {{passagem.pessoaEntrou}}
      </span>
      de acordo com as informações abaixo:
    </div>
    <div >
      <div class="sc-text-bold sc-text-blue sc-m-l-lg" style="font-size: larger; padding: 0.2em">
        {{objeto.categoria}}
      </div>
      <div class="sc-fieldset sc-bg-gray-lighter" style="padding: 0">
        <div class="sc-fieldset-head" style="background-color: #f1f1f1">
          <div class="flex-row sc-bg-gray-lighter">
            <div class="sc-m-l-xxxl fcol-xs-auto sc-text-bold sc-text-gray-darker">
              Item
            </div>
            <div class="sc-text-bold sc-text-gray-darker">
              Qtd
            </div>
          </div>
        </div>
        <div class="sc-bg-gray-lighter">
          <i class="sc-m-r-lg sc-icon sc-icon-menos-1 sc-text-gray"></i>
            {{item.descricao}}
          <div class="pull-right">
            {{item.quantidade}}
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Campo para observações -->
  <div class="sc-fieldset sc-m-lg sc-bg-white">
    <div class="sc-fieldset-head">
      <span class="sc-text-blue sc-text-bold">
        Observações
      </span>
    </div>
    <div>
    </div>
  </div>
</div>
