<div class="sc-m-h-md sc-p-t-sm flex-row ng-scope">
  <div class="sc-fieldset sc-bg-white fcol-md-50 fcol-xs-100 flex-row sc-p-h-xs">
    <div class="fcol-xs-100 sc-p-b-o sc-m-b-md">
      <div class="sc-text-gray sc-p-b-sm ng-binding">
        Quem sai:
        <span class="sc-text-blue ng-binding">
          {{passagem.nome}}
        </span>
      </div>
      <div class="sc-text-gray sc-p-b-sm ng-binding">
        Cadastrado por:
        <span class="sc-text-blue ng-binding">
          -
        </span>
      </div>
      <div class="sc-text-gray sc-p-b-sm ng-binding">
        Data cadastro:
        <span class="sc-text-blue ng-binding">
          {{passagem.criacao| date: "dd/MM/yyyy"}}
        </span>
      </div>
      <div class="flex-row sc-m-b-sm">
        <div class="sc-dropdown ng-scope" sc-dropdown-menu="">
          <button class="sc-btn sc-btn-blue sc-btn-thin sc-btn-md ng-binding" ng-click="menu.toggle()" style="width:100%" type="button">
            Notificar
            <i class="sc-icon sc-m-l-md sc-icon-seta-5-baixo" ng-class="menu.isOn ? 'sc-icon-seta-5-cima' : 'sc-icon-seta-5-baixo'">
            </i>
            <span class="sc-badge sc-badge-fixed sc-bg-yellow ng-binding">
              0
            </span>
          </button>
          <ul class="sc-dropdown-menu sc-m-t-o ng-animation-slider sc-scrollbar ng-hide" ng-show="menu.isOn" style="width: 100%; overflow: auto; display: block;">
            <li ng-if="" ng-repeat="user in indexCtrl.settings.users_notificaveis" class="ng-scope">
              <div class="vertical-align sc-p-l-md" ng-click="itemCtrl.notificacoes.setUser(user)">
                <i class="sc-icon sc-icon-quadrado-1" ng-class="user.checked ? 'sc-icon-visto-3' : 'sc-icon-quadrado-1'">
                </i>
                <span class="ng-binding">
                  {{passagem.nome}}
                </span>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-xs-12 sc-p-o sc-text-gray">
        <button class="sc-btn sc-btn-default sc-btn-thin sc-m-b-sm" ng-click="passagem.showNotificacoes.toggle()">
          <span class="ng-binding">
            Notificações
          </span>
          <i class="sc-icon sc-m-l-md sc-icon-seta-5-baixo" ng-class="passagem.showNotificacoes.opened ? 'sc-icon-seta-5-cima' : 'sc-icon-seta-5-baixo'">
          </i>
        </button>
      </div>
    </div>
  </div>
  <div class="fcol-md-auto fcol-md-50 fcol-xs-100 sc-m-l-lg-md flex ng-scope">
    <div class="sc-fieldset sc-bg-white fcol-xs-100 ng-scope">
      <div class="sc-fieldset-head flex align-items-center" style="padding-top: 0;padding-bottom: 0;min-height: 2.05em;">
        <span class="sc-text-blue sc-text-bold">
          Anexos
        </span>
      </div>
      <div class="sc-p-b-o">
        <div class="sc-text-thin sc-p-md sc-p-b-xxxl sc-p-t-xs sc-text-lg align-center sc-text-blue" ng-hide="passagem.anexos.length">
          Nenhum anexo disponível!
        </div>
        <div class="flex flex-wrap justify-content-space-evenly">
        </div>
      </div>
    </div>
  </div>
  <div class="sc-fieldset sc-bg-white fcol-xs-100 flex-row sc-p-xl">
    <div class="sc-text-gray-dark fcol-xs-100 sc-p-sm ng-binding">
      Eu,
      <span class="sc-label ng-binding">
        {{passagem.nome}}
      </span>
      passo o posto de serviço para o(a),
      <span class="sc-label ng-binding">
      </span>
      de acordo com as informações abaixo:
    </div>
    <div class="fcol-xs-100 sc-p-h-o sc-p-b-o ng-scope" ng-repeat="objeto in passagem.objetos track by $index">
      <div class="sc-label sc-text-lg sc-m-l-xs ng-binding">
        CHAVE
      </div>
      <table class="sc-table sc-fieldset" style="width:100%">
        <thead>
          <tr>
            <th style="width:4%">
            </th>
            <th>
              <div class="sc-text-bold sc-text-gray-darker ng-binding">
                Item
              </div>
            </th>
            <th>
              <div class="sc-text-bold sc-text-gray-darker align-right ng-binding">
                Qtd
              </div>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in objeto.itens track by $index" class="ng-scope">
            <td style="width:4%">
              <i class="sc-icon sc-icon-menos-1 sc-text-gray" ng-class="item.executado ? 'sc-icon-visto-1 sc-text-green' : 'sc-icon-menos-1 sc-text-gray'">
              </i>
            </td>
            <td>
              <div class="sc-text-black ng-binding">
                Chave da guarita
              </div>
            </td>
            <td class="align-right">
              <div class="sc-text-gray-darker ng-binding">
                1
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="sc-fieldset sc-bg-white fcol-xs-100">
    <div class="sc-fieldset-head sc-p-b-xs">
      <span class="sc-text-blue sc-text-bold ng-binding">
        Observações
      </span>
    </div>
    <div class="sc-text-black col-xs-12 sc-bg-white">
      <div ng-bind-html="passagem.observacoes | nl2br" class="ng-binding">
      </div>
    </div>
  </div>
</div>
