<!DOCTYPE html>
<html lang="pt-br">
<head>
  <title>Passagem de Serviços</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="./css/prototype.css"/>
  <link rel="stylesheet" type="text/css" href="./css/style.css" />
  <link rel="stylesheet" type="text/css" href="./css/uikit.css" />
  <link rel="stylesheet" type="text/css" href="./css/uikit-sample.css" />
  <link rel="stylesheet" type="text/css" href="./icons/sc-icons.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.9/angular.min.js"></script>
</head>
<body
  style="overflow: auto;"
  ng-app="passagemServicos"
  ng-controller="PassagemServicos::IndexCtrl as passagemServicosCtrl"
  ng-init="passagemServicosCtrl.init()"
>
  <div class="sc-bg-blue sc-box-shadow-z1">
    <span>
      <img src="assets/img/seu_condominio.svg" style="max-width: 9em">
    </span>
  </div>

  <section>
    <!-- Corpo do código -->
  </section>

  <!-- Top Messages -->
  <div class="sc-top-messages ng-animation-slider" ng-class="scTopMessages.theme"
    ng-click="scTopMessages.close()" ng-if="scTopMessages.toggler.opened" style="display: block;">
    <div class="sc-text-white align-center sc-text-shadow-dark flex align-items-center">
      <div class="sc-top-messages-msgs sc-cursor-default">
        <p ng-repeat="msg in scTopMessages.messages track by $index" ng-bind="scTopMessages.messages"></p>
      </div>
      <div class="sc-top-messages-close-button">
        <i class="sc-icon-fechar-1 sc-cursor-pointer"></i>
      </div>
    </div>
  </div>

  <script type="text/javascript" src="./js/prototype.js"></script>
  <script type="text/javascript" src="./js/modernizr.js"></script>
  <script type="text/javascript" src="./js/indexCtrl.js"></script>
  <script type="text/javascript" src="./js/indexFactory.js"></script>
  <script type="text/javascript" src="./js/formFactory.js"></script>
  <script type="text/javascript" src="./js/formCtrl.js"></script>
  <script type="text/javascript" src="./js/showCtrl.js"></script>
</body>
</html>
