<div class="sc-fieldset">
  <div class="sc-fieldset-head">
    <div class="sc-text-blue sc-text-bold">
      Contas Bancárias
      <button class="sc-btn sc-btn-green"  style="font-size: 0.9em" ng-click="contBanCtrl.add()">
        <i class="sc-icon sc-icon-mais-1"></i>
        <span class="sc-btn-text">Adicionar</span>
      </button>
    </div>
  </div>
  <div style="overflow: auto;">
    <form>
      <div class="col-xs-12" ng-repeat="contaBancaria in formCtrl.params.contBan">
        <div class="flex-row sc-bg-gray-lighter">
          <div class="fcol-md-10">
            <label>
              <div class="sc-text-bold sc-text-blue sc-p-h-md">
                Principal?
              </div>
              <span class="sc-toggle sc-toggle-true-red sc-toggle-false-green fcol-lg-15 sc-p-h-md sc-p-v-md">
                <span label-true="não" label-false="sim"></span>
                <input type="checkbox" ng-model="contaBancaria.principal"/>
             </span>
            </label>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
