<div ng-app="myapp" ng-controller="EndCtrl" style="overflow: auto;">
  <form>
    <div class="col-xs-12">
      <div class="flex-row sc-bg-gray-lighter">
        <div>
          <label>
            <div class="sc-text-bold sc-text-blue fcol-lg-15 sc-p-h-md">
              Principal?
            </div>
            <span class="sc-toggle sc-toggle-true-red sc-toggle-false-green fcol-lg-15 sc-p-h-md sc-p-v-md">
              <input type="checkbox"/>
              <span label-true="não" label-false="sim"></span>
           </span>
          </label>
       </div>
       <div class="fcol-md-25 sc-p-h-md">
         <label>
           <div class="sc-label">Título Endereço</div>
           <input type="text" class="sc-input-default" style="min-width: 15em" placeholder="Casa, trabalho, etc...">
         </label>
       </div>
       <div class="sc-p-h-md">
         <label>
           <div class="sc-label">CPF:</div>
           <input sc-mask="cpf" type="text" class="sc-input-default" style="min-width: 20em">
         </label>
       </div>
      </div>
    </div>
  </form>
</div>
