<div class="sc-fieldset">
  <div class="sc-fieldset-head">
    <div class="sc-text-blue sc-text-bold">
      Endereços
      <button class="sc-btn sc-btn-green"  style="font-size: 0.9em" ng-click="endFormCtrl.add()">
        <i class="sc-icon sc-icon-mais-1"></i>
        <span class="sc-btn-text">Adicionar</span>
      </button>
    </div>
  </div>
  <div style="overflow: auto;">
    <form>
      <div class="col-xs-12" ng-repeat="endereco in formCtrl.params.enderecoes">
        <div class="flex-row sc-bg-gray-lighter">
          <div class="fcol-md-10">
            <label>
              <div class="sc-text-bold sc-text-blue sc-p-h-md">
                Principal?
              </div>
              <span class="sc-toggle sc-toggle-true-red sc-toggle-false-green fcol-lg-15 sc-p-h-md sc-p-v-md">
                <input type="checkbox"/>
                <span label-true="não" label-false="sim"></span>
             </span>
            </label>
          </div>
          <div class="fcol-md-23em sc-p-h-md">
           <label>
             <div class="sc-label">Título Endereço</div>
             <input type="text" class="sc-input-default" style="min-width: 20em" placeholder="Casa, trabalho, etc...">
           </label>
          </div>
          <div class="fcol-md-20 sc-p-h-md">
           <label>
             <div class="sc-label">CEP:</div>
             <div class="sc-input-group">
               <input type="text" class="sc-input-default" style="min-width: 15em">
               <div class="sc-btn sc-btn-blue col-lg-pull-1"><i class="sc-icon sc-icon-lupa-2 sc-m-t-lg"></i></div>
             </div>
           </label>
          </div>
          <div class="fcol-md-20 sc-p-h-md">
           <label>
             <div class="sc-label">Cidade:</div>
             <div class="sc-input-group">
               <input type="text" class="sc-input-default" style="min-width: 20em">
               <div class="sc-btn sc-btn-blue"><i class="sc-icon sc-icon-lupa-2 sc-m-t-lg"></i></div>
             </div>
           </label>
          </div>
        </div>
        <div class="flex-row sc-bg-gray-lighter">
          <div class="fcol-md-35 sc-p-h-md">
            <label>
              <div class="sc-label">Logradouro:</div>
              <input sc-mask="cpf" type="text" class="sc-input-default" style="min-width: 29em">
            </label>
          </div>
          <div class="fcol-md-25 sc-p-h-md">
            <label>
              <div class="sc-label">Número/Complemento:</div>
              <input sc-mask="cpf" type="text" class="sc-input-default" style="min-width: 20em">
            </label>
          </div>
          <div class="sc-p-h-md">
            <label>
              <div class="sc-label">Bairro:</div>
              <input sc-mask="cpf" type="text" class="sc-input-default" style="min-width: 20em">
            </label>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

