<div ng-app="myapp" ng-controller="FormCtrl" style="overflow: auto;">
  <form>
    <div class="col-xs-12">
     <div class="sc-fieldset">
       <div class="sc-fieldset-head">
         <div class="sc-text-blue sc-text-bold">
           Dados Gerais
         </div>
       </div>
       <div class="flex-row sc-bg-gray-lighter">
         <div class="fcol-md-15 sc-btn-group sc-p-h-sm">
           <div class="sc-text-bold sc-text-blue">
             Tipo:
           </div>
             <button class="sc-btn sc-p-r-sm" style="min-width: 5em">Pagador</button>
             <button class="sc-btn sc-p-l-sm sp-p-r-sm" style="min-width: 5em">Fornecedor</button>
         </div>
         <div class="fcol-md-11em sc-btn-group">
           <div class="sc-text-bold sc-text-blue">
             Pessoa:
           </div>
             <button class="sc-btn sc-active-blue">Física</button>
             <button class="sc-btn">Jurídica</button>
         </div>
         <div class="sc-btn-group sc-p-h-md">
           <div class="sc-text-bold sc-text-blue">
             Sexo:
           </div>
             <button class="sc-btn">Masc.</button>
             <button class="sc-btn">Femin.</button>
         </div>
         <div>
            <label>
              <div class="sc-text-bold sc-text-blue fcol-lg-15 sc-p-h-md">
                Deficiente:
              </div>
              <span class="sc-toggle sc-toggle-true-green sc-toggle-false-blue fcol-lg-15 sc-p-h-md sc-p-v-md">
                <input type="checkbox"/>
                <span label-true="sim" label-false="não"></span>
             </span>
            </label>
         </div>
         <div class="fcol-md-25 sc-p-h-md">
           <label>
             <div class="sc-label">Nome:</div>
             <input type="text" class="sc-input-default" style="min-width: 20em">
           </label>
         </div>
         <div class="sc-p-h-md">
           <label>
             <div class="sc-label">CPF:</div>
             <input sc-mask="cpf" type="text" class="sc-input-default" style="min-width: 20em">
           </label>
         </div>
        </div>
        <div class="flex-row sc-bg-gray-lighter">
         <div class="fcol-md-25 sc-p-h-md">
           <label>
             <div class="sc-label">RG:</div>
             <input type="text" class="sc-input-default" style="min-width: 20em">
           </label>
         </div>
         <div class="fcol-md-18em sc-p-h-md">
           <label>
             <div class="sc-label">Nascimento:</div>
             <input type="date" class="sc-input-default" style="min-width: 15em">
           </label>
         </div>
         <div class="sc-p-h-md fcol-lg-23em">
           <label>
             <div class="sc-label">Profissão:</div>
             <input type="text" class="sc-input-default" style="min-width: 20em">
           </label>
         </div>
         <div class="sc-p-h-md">
           <label>
             <div class="sc-label">E-mail (principal):</div>
             <input type="text" class="sc-input-default" style="min-width: 20em">
           </label>
         </div>
       </div>
       <div class="flex-row sc-bg-gray-lighter">
         <div class="sc-p-h-md fcol-lg-23em">
           <label>
             <div class="sc-label">E-mails alternativos:</div>
             <input type="text" class="sc-input-default" style="min-width: 20em" placeholder="Digite um novo E-mail">
           </label>
         </div>
         <div class="sc-p-h-md fcol-lg-18em">
           <label>
             <div class="sc-label">Identificador <i class="sc-icon sc-icon-info-2"></i>:</div>
             <input type="text" class="sc-input-default" style="min-width: 15em">
           </label>
         </div>
         <div class="sc-p-h-md fcol-lg-23em">
           <label>
             <div class="sc-label">Telefones:</div>
             <input type="text" class="sc-input-default" style="min-width: 20em">
           </label>
         </div>
       </div>
       <div class="flex-row sc-bg-gray-lighter">
         <div class="sc-p-h-md fcol-lg-23em">
           <label>
             <div class="sc-label">Observações:</div>
             <input type="text" class="sc-input-default" style="min-width: 90em; min-height: 6em">
           </label>
         </div>
     </div>
    </div>
    <div class="sc-fieldset">
      <div class="sc-fieldset-head">
        <div class="sc-text-blue sc-text-bold">
          Endereços
          <button class="sc-btn sc-btn-green" ng-click="endFormOpen()">
            <i class="sc-icon sc-icon-mais-1"></i>
            <span class="sc-btn-text">Adicionar</span>
          </button>
        </div>
        </div>
        <li id="form" ng-if="show_endForm">
        <div ng-include="'templates/endForm.html'"></div>
        </li>
      </div>
    </div>
    <div ng-if="indexCtrl.show_endForm">
      <form>
        <div>
        </div>
      </form>
    </div>
  </form>
</div>
