<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" media="screen" href="css/sc-icons.css">
    <link rel="stylesheet" media="screen" href="css/prototype.css">
    <script src="js/jquery_min.js"></script>
    <script src="js/jquery.livequery.js"></script>
    <script src="js/angular/angular.js"></script>
    <script src="js/modernizr.js"></script>
    <script src="js/uikit-sample.js"></script>
    <script src="js/sc_alert.js"></script>
    <script src="js/sc_toggle.js"></script>
    <script src="js/array.js"></script>
    <script src="js/functions.js"></script>
    <script src="indexCtrl.js"></script>
    <title>Cadastro Pagador</title>
  </head>
  <body ng-app="myapp" ng-controller="TesteCtrl" style="overflow: auto;">
    <div class="sc-bg-blue sc-box-shadow-z1 sc-p-l-lg sc-p-t-xs">
      <h2 class="sc-text-shadow-light sc-text-white sc-m-v-sm">
        Testes com UiKit
      </h2>
    </div>
      <div class="sc-m-b-md sc-m-l-md">
        <button class="sc-btn sc-btn-blue sc-btn-awesomeness" ng-click="abrirForm()">
          <div class="sc-btn-icon">
            <i class="sc-icon sc-icon-mais-1"></i>
          </div>
            <div class="sc-btn-text">
              Cadastrar Pessoa
            </div>
        </button>
      </div>
    <div ng-if="indexCtrl.show_form">
      <form>
        <div>
        </div>
      </form>
    </div>
    <div ng-include="indexCtrl.templates.cadastro_pagador.form">
    </div>
    <div>
      <ul class="sc-accordion">
        <li id="form" ng-if="show_form">
          <div ng-include="'templates/form.html'">
          </div>
        </li>
        <li ng-repeat="pessoa in pessoas" class="sc-acc-white" ng-class="{'sc-acc-opened': pessoa.acc.opened}" style="">
          <div ng-click="pessoa.acc.opened = !pessoa.acc.opened" class="sc-accordion-head sc-acc-hover-blue">
            <div class="sc-accordion-icon-col sc-divider align-xs-center">
              <i class="sc-icon sc-text-blue sc-icon-homem-1" style=""></i>
            </div>
            <div class="sc-accordion-elastic-col sc-text-bold sc-text-blue">
              <span class="sc-p-v-sm">
                {{pessoa.nome}}
                <i class="sc-badge-hover-gray sc-icon-reticiencias-v pull-right"></i>
              </span>
            </div>
          </div>
          <div ng-show="pessoa.acc.opened" class="sc-accordion-body ng-animation-slider">
            <div class="col-xs-12 col-md-6">
              <div class="sc-fieldset">
                <div class="sc-fieldset-head">
                  <div class="sc-text-blue sc-text-bold">
                    {{pessoa.nome}}
                  </div>
                </div>
                <div>
                  TESTE
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-md-6">
              <div class="sc-fieldset">
                <div class="sc-fieldset-head">
                  <span class="sc-text-blue sc-text-bold">Anexos</span>
                </div>
                <div>
                  TESTE
                </div>
              </div>
            </div>
            <div class="clear"></div>
          </div>
        </li>
      </ul>
    </div>
  </body>
</html>
